html {
  background: #c9ffbf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #dedede,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #dedede,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  display: grid;
  width: 100%;
  height: 100%;
}

.title__shop {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 8vh;
  text-align: center;
}

.header__shop-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__logo {
  height: 2vh;
}

.header__shop {
  z-index: 2;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
}

.hidden-cart {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Lato";
  color: #333;
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #000;
}

.icon-cart:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0;
}

.container-icon {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #e71e6e;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  min-width: 275px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.title__product-cart {
  font-size: 20px;
}

.unit_price_cart {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.amount__product-cart {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total__topay {
  font-size: 20px;
  font-weight: 900;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
